/*
Copyright (c) 2013-2015, Erin Morelli.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*
*
* EM Beer Manager admin styles
*
*/

@font-face {
	font-family: 'beer-icons';
	src:url('../fonts/beer-icons.eot?rjxbel');
	src:url('../fonts/beer-icons.eot?#iefixrjxbel') format('embedded-opentype'),
		url('../fonts/beer-icons.woff?rjxbel') format('woff'),
		url('../fonts/beer-icons.ttf?rjxbel') format('truetype'),
		url('../fonts/beer-icons.svg?rjxbel#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
#menu-posts-embm_beer .wp-menu-image:before {
	font-family: 'beer-icons';
	content: "\e604";
}
#icon-edit.icon32-posts-embm_beer {
	background: url('../img/beer-32x32.png') no-repeat;
}
.widefat #id.column-id {
	width: 35px;
}
.widefat #abv.column-abv,
.widefat #ibu.column-ibu,
.widefat #beer_num.column-beer_num {
	width: 100px;
}
.widefat #untappd.column-untappd {
	width: 80px;
}
#beer-settings .usage tr td {
	border-collapse: collapse;
	border-bottom: 1px solid #ccc;

	padding: 5px 10px;
}
#beer-settings .usage tr:first-child td {
	border-top: 1px solid #ccc;
}
#beer-settings .usage tr:nth-child(even) td {
	background: #fafafa;
}
#beer-settings .whats-this {
	display: inline-block;
	padding-left: 6px;
}
.emdm-form-settings > .form-table {
	margin-bottom: 20px;
}
#contextual-help-link-wrap.embm-help {
	border-right: none;
	border-left: none;
	border-bottom: none;
	background: transparent;
	background-image: none !important;
	float: none;
}
#screen-meta-links .screen-meta-toggle,
#contextual-help-link-wrap.embm-help {
	visibility: visible !important;
}
