/*
Copyright (c) 2013-2015, Erin Morelli.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*
*
* EM Beer Manager output styles
*
*/

.single-beer {
	margin: 25px 0 30px;
	font-size: 14px;
	line-height: 22px;
}
.embm-content-archive .single-beer:first-child,
.embm-content-style .single-beer:first-child {
	margin-top: 0px;
}
.embm-content-single .single-beer {
	margin: 0px;
}
.single-beer .beer-title {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	margin-bottom: 20px;
}
.beer-title a h1,
.beer-title h1,
.single-beer .beer-title h2,
.single-beer .beer-title a h2 {
	text-decoration: none;
	display: inline-block;
	font-family: 'Helvetica',sans-serif;
	font-size: 25px;
	margin: 0 !important;
}
.single-beer .beer-style {
	display: inline-block;
	padding-left: 10px;
	font-size: 16px;
	font-style: italic;
}
.single-beer .beer-style a {
	color: #888;
	text-decoration: none;
}
.single-beer .beer-image .wp-post-image {
	display: inline-block;
	width: 150px;
	float: left;
	margin: 0 20px 10px 0;
}
.single-beer .beer-image img {
	width: 150px;
	height: auto;
}
.single-beer .beer-description {
	padding: 0 0 0 20px;
}
.single-beer .beer-description .untappd {
	padding: 12px 0;
}
.single-beer .beer-description .untappd a {
	display: inline-block;
	width: 162px;
	height: 25px;
	background: transparent url('../img/checkin-button.png') 0 0 no-repeat;
}
.single-beer .beer-meta {
	clear: both;
	display: block;
	background: #eee;
	border: 1px solid #ddd;
	padding: 15px 20px;
	color: #000;
	margin-bottom: 35px;
}
.single-beer .beer-meta .beer-profile {
	padding-bottom: 10px;
}
.single-beer .beer-meta .beer-extras .beer_num .label,
.single-beer .beer-meta .beer-extras .avail .label,
.single-beer .beer-meta .beer-profile .label {
	font-weight: bold;
	display: inline-block;
	padding-right: 8px;
}
.single-beer .beer-meta .beer-profile .abv,
.single-beer .beer-meta .beer-profile .ibu {
	display: inline-block;
	padding: 0 20px 5px 0;
}
.single-beer .beer-meta .beer-extras .notes .label {
	font-weight: bold;
	display: block;
	padding: 10px 0px 3px;
}
.beer-list .nav-below {
	text-align: right;
}
.single-beer .wp-post-image {
	display: none;
}
.embm-clear {
	clear: both;
}
